[submodule "plugins/decky-plugin-template"]
	path = plugins/decky-plugin-template
	url = https://github.com/SteamDeckHomebrew/decky-plugin-template
	branch = ci-testing
[submodule "plugins/SDH-SystemToolbox"]
	path = plugins/SDH-SystemToolbox
	url = https://github.com/WerWolv/SDH-SystemToolbox
[submodule "plugins/deckfaqs"]
	path = plugins/deckfaqs
	url = https://github.com/hulkrelax/deckfaqs
[submodule "plugins/PowerTools"]
	path = plugins/PowerTools
	url = https://github.com/NGnius/PowerTools
[submodule "plugins/SDH-CssLoader"]
	path = plugins/SDH-CssLoader
	url = https://github.com/suchmememanyskill/SDH-CssLoader
[submodule "plugins/vibrantDeck"]
	path = plugins/vibrantDeck
	url = https://github.com/libvibrant/vibrantDeck.git
[submodule "plugins/MusicControl"]
	path = plugins/MusicControl
	url = https://github.com/mirobouma/MusicControl.git
[submodule "plugins/SDH-PauseGames"]
	path = plugins/SDH-PauseGames
	url = https://github.com/popsUlfr/SDH-PauseGames.git
[submodule "plugins/protondb-decky"]
	path = plugins/protondb-decky
	url = https://github.com/OMGDuke/protondb-decky
[submodule "plugins/SDH-AudioLoader"]
	path = plugins/SDH-AudioLoader
	url = https://github.com/EMERALD0874/SDH-AudioLoader
[submodule "plugins/FriendsFix"]
	path = plugins/FriendsFix
	url = https://git.catvibers.me/aa/FriendsFix.git
[submodule "plugins/Bluetooth"]
	path = plugins/Bluetooth
	url = https://github.com/Outpox/Bluetooth.git
[submodule "plugins/SDH-Notebook"]
	path = plugins/SDH-Notebook
	url = https://github.com/popsUlfr/SDH-Notebook.git
[submodule "plugins/Fantastic"]
	path = plugins/Fantastic
	url = https://github.com/NGnius/Fantastic
[submodule "plugins/RemotePlayWhatever"]
	path = plugins/RemotePlayWhatever
	url = https://github.com/joamjoamjoam/RemotePlayWhatever.git
[submodule "plugins/memory-deck"]
	path = plugins/memory-deck
	url = https://github.com/CameronRedmore/memory-deck.git
[submodule "plugins/SDH-AnimationChanger"]
	path = plugins/SDH-AnimationChanger
	url = https://github.com/TheLogicMaster/SDH-AnimationChanger.git
[submodule "plugins/radiyo-steam-deck"]
	path = plugins/radiyo-steam-deck
	url = https://github.com/isiah-lloyd/radiyo-steam-deck
[submodule "plugins/bash-shortcuts"]
	path = plugins/bash-shortcuts
	url = https://github.com/Tormak9970/bash-shortcuts.git
[submodule "plugins/hltb-for-deck"]
	path = plugins/hltb-for-deck
	url = https://github.com/hulkrelax/hltb-for-deck
[submodule "plugins/decky-autosuspend"]
	path = plugins/decky-autosuspend
	url = https://github.com/jurassicplayer/decky-autosuspend.git
[submodule "plugins/Emuchievements"]
	path = plugins/Emuchievements
	url = https://github.com/EmuDeck/Emuchievements
[submodule "plugins/TunnelDeck"]
	path = plugins/TunnelDeck
	url = https://github.com/steve228uk/TunnelDeck
[submodule "plugins/FkatpakUpdater"]
	path = plugins/FlatpakUpdater
	url = https://github.com/0xD34D/FlatpakUpdater
[submodule "plugins/MetaDeck"]
	path = plugins/MetaDeck
	url = https://github.com/EmuDeck/MetaDeck
[submodule "plugins/decky-autoflatpaks"]
	path = plugins/decky-autoflatpaks
	url = https://github.com/jurassicplayer/decky-autoflatpaks.git
[submodule "plugins/SDH-KLang"]
	path = plugins/SDH-KLang
	url = git@github.com:Loidbae/SDH-KLang.git
[submodule "plugins/moondeck"]
	path = plugins/moondeck
	url = https://github.com/FrogTheFrog/moondeck
[submodule "plugins/decky-steamgriddb"]
	path = plugins/decky-steamgriddb
	url = https://github.com/SteamGridDB/decky-steamgriddb
	branch = steam_beta_hotfix
[submodule "plugins/DiscordStatus"]
	path = plugins/DiscordStatus
	url = https://github.com/andrewburgess/steamdeck-discord-status
[submodule "plugins/VolumeMixer-decky"]
	path = plugins/VolumeMixer-decky
	url = https://github.com/isiah-lloyd/VolumeMixer-decky
[submodule "plugins/SDH-FreeGames"]
	path = plugins/SDH-FreeGames
	url = https://github.com/WerWolv/SDH-FreeGames
[submodule "plugins/ControllerTools"]
	path = plugins/ControllerTools
	url = https://github.com/alphamercury/ControllerTools
[submodule "plugins/sharedeck-y"]
	path = plugins/sharedeck-y
	url = https://github.com/davocarli/sharedeck-y
[submodule "plugins/tailscale-control"]
	path = plugins/tailscale-control
	url = https://github.com/saumya-banthia/tailscale-control
[submodule "plugins/DeckMTP"]
	path = plugins/DeckMTP
	url = https://github.com/dafta/DeckMTP
