[submodule "plugins/decky-plugin-template"]
	path = plugins/decky-plugin-template
	url = https://github.com/SteamDeckHomebrew/decky-plugin-template
	branch = ci-testing
[submodule "plugins/SDH-SystemToolbox"]
	path = plugins/SDH-SystemToolbox
	url = https://github.com/WerWolv/SDH-SystemToolbox
[submodule "plugins/deckfaqs"]
	path = plugins/deckfaqs
	url = https://github.com/hulkrelax/deckfaqs
[submodule "plugins/PowerTools"]
	path = plugins/PowerTools
	url = https://github.com/NGnius/PowerTools
[submodule "plugins/SDH-CssLoader"]
	path = plugins/SDH-CssLoader
	url = https://github.com/suchmememanyskill/SDH-CssLoader
[submodule "plugins/vibrantDeck"]
	path = plugins/vibrantDeck
	url = https://github.com/libvibrant/vibrantDeck.git
[submodule "plugins/MusicControl"]
	path = plugins/MusicControl
	url = https://github.com/mirobouma/MusicControl.git
[submodule "plugins/SDH-PauseGames"]
	path = plugins/SDH-PauseGames
	url = https://github.com/popsUlfr/SDH-PauseGames.git
[submodule "plugins/protondb-decky"]
	path = plugins/protondb-decky
	url = https://github.com/OMGDuke/protondb-decky
[submodule "plugins/SDH-AudioLoader"]
	path = plugins/SDH-AudioLoader
	url = https://github.com/EMERALD0874/SDH-AudioLoader
[submodule "plugins/FriendsFix"]
	path = plugins/FriendsFix
	url = https://git.catvibers.me/aa/FriendsFix.git
[submodule "plugins/custom-mangohud"]
	path = plugins/custom-mangohud
	url = https://github.com/simons-public/custom-mangohud
[submodule "plugins/Bluetooth"]
	path = plugins/Bluetooth
	url = https://github.com/Outpox/Bluetooth.git
[submodule "plugins/SDH-Notebook"]
	path = plugins/SDH-Notebook
	url = https://github.com/popsUlfr/SDH-Notebook.git
[submodule "plugins/Fantastic"]
	path = plugins/Fantastic
	url = https://github.com/NGnius/Fantastic
